Node RED/flows_with_sim_and_gate_Apr_1.json
[{"id":"4e3f32b6.76babc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3f96687.0166898","type":"ibmiot in","z":"4e3f32b6.76babc","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":200,"wires":[["2c3bf5ba.e9062a","4aabb31f.9c231c"]]},{"id":"cb649ae0.2dc66","type":"cloudant out","z":"4e3f32b6.76babc","name":"","cloudant":"","database":"machine_data","service":"Cloudant","payonly":true,"operation":"insert","x":760,"y":400,"wires":[]},{"id":"2c3bf5ba.e9062a","type":"gate","z":"4e3f32b6.76babc","name":"gate","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":470,"y":300,"wires":[["5ac2447c.96dd6c","cb649ae0.2dc66"]]},{"id":"aeb94f5d.6289c","type":"inject","z":"4e3f32b6.76babc","name":"input","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":520,"wires":[[]]},{"id":"26f14f4f.eaee78","type":"inject","z":"4e3f32b6.76babc","name":"open","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":360,"wires":[[]]},{"id":"2610d5b8.d1f342","type":"inject","z":"4e3f32b6.76babc","name":"close","topic":"control","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":400,"wires":[[]]},{"id":"a58179bf.55b2d","type":"inject","z":"4e3f32b6.76babc","name":"toggle","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":440,"wires":[[]]},{"id":"2292ced6.e5a9e2","type":"inject","z":"4e3f32b6.76babc","name":"reset","topic":"control","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":480,"wires":[[]]},{"id":"5ac2447c.96dd6c","type":"debug","z":"4e3f32b6.76babc","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":300,"wires":[]},{"id":"4aabb31f.9c231c","type":"function","z":"4e3f32b6.76babc","name":"open/close","func":"temp = msg.payload.temp;\nid = msg.payload.id;\nmsg.topic = 'control';\nmsg.payload = \"close\";\n\nif (id == \"simTemp\") {\n    if (temp > 80) {\n        msg.payload = \"open\";\n    }\n    else {\n        msg.payload = \"close\";\n    }\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["3abfdd0f.9f032a","2c3bf5ba.e9062a"]]},{"id":"3abfdd0f.9f032a","type":"debug","z":"4e3f32b6.76babc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":120,"wires":[]}]